<body class="sticky-header">
  <div id="main-container">
    <div id="page-content" class="fullpage">
      <section class="full-section dark-section section" id="section-73">
        <div class="full-section-container">

          <h1>MyWay</h1>

          <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <%= link_to(image_tag("index/image-61-2.png"), "/") %>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

        </div><!-- full-section-container -->
      </section><!-- full-section -->

      <section class="full-section dark-section section" id="section-74">
        <div class="full-section-container">

          <div class="container">
            <div class="row">
              <div class="col-sm-6">

                <%= link_to(image_tag("index/image-62.png"), "/") %>

              </div><!-- col -->
              <div class="col-sm-6">

                <br><br>

                <h3>Modern and Simple <br class="hidden-xs"> Equipped with all the elements you need.</h3>

                <br>

                <p>Feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet. Curabitur ultrices
                  dolor magna, at vene natis lacus rutrum nec. Quisque elit velit, lacinia sit amet tellus at,
                  auctor suscipit metus. Duis congue nibh at tortor ornare, sed commo do ipsum mattis.
                  Phasellus lacinia sed purus eget rhoncus. urabitur ultrices dolor magna.</p>

                <br>

                <a class="btn btn-default-1 waves" href="#">See more</a>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

        </div><!-- full-section-container -->
      </section><!-- full-section -->
    </div>
  </div>
  <a id="scroll-up" class="waves"><i class="fa fa-angle-up"></i></a>
</body>